{% extends 'layout.html' %}

{% block title %}
    Editar Estudante
{% endblock %}

{% block content %}
    <form action="{{ url_for('teacher_bp.update_student', student_id=student.id) }}" method="post">
        <label for="name">Nome:</label>
        <input value="{{ student.name }}" type="text" name="name" id="name" required>
        
        <label for="born_date">Data de Nascimento:</label>
        <input value="{{ student_born_date }}" type="date" name="born_date" id="born_date" required>
        
        <button type="submit">Editar Estudante</button>
    </form>
{% endblock %}